.footer {
    display: flex;
    width: 90vw;
    justify-content: flex-start;
    margin: auto;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
}
.copyright-thing {
    margin-left: auto;
    color: #3b3b3b;
}
.footer-links {
    list-style: none;
    margin-right: 2rem;
}
.footer-links li {
    margin-bottom: 0.75rem;
}
.footer-links li a {
    color: #3b3b3b;
    
}

@media only screen and (max-width: 651px) {
    .footer {
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    .copyright-thing {
        margin-top: 1rem;
        margin-left: 0;
    }
    .footer-links {
        margin-right: 0;
    }
    .footer-links li {
        margin-bottom: 0.75rem;
    }
}