* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #1750a5;
}
a:hover {
  color: #548ce0;
  transition: color 400ms ease-out;
  text-decoration: underline;
}
h1 {
  font-size: 48px;
}
button:focus {
  outline: none;
}
button:hover {
  opacity: 0.5;
  transition: ease-out 400ms;
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
}

/* Needs Media Query */
.navbar {
  height: 9vh;
  width: 90%;
  margin: auto;
  
  padding-top: 1rem;
  /* margin-top: 1rem; */
}

/* Needs Media Query */
.navbar-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Needs media query */
.nav-links {
  display: flex;
  list-style: none;
}

/* Needs media query */
.nav-link {
  margin-right: 3rem;
  color: #232323;
}

.nav-link a {
  color: #232323;
}
.nav-link a:hover {
  color: #1c437e;
  transition: color 400ms ease-out;
  text-decoration: none;
}

/* Maybe Needs media query */
.searchbar {
  width: 345px;
  height: 45px;
}

.search-form {
  height: 100%;
}
.search-input {
  height: 100%;
  width: 85%;
  border: none;
  background-color: #4E6892;
  color: white;
  border-radius: 10px 0 0 10px;
  padding-left: 1rem;
}
.search-input::placeholder {
  color: white;
  opacity: 0.8;
}
.search-input:focus {
  outline: none;
}
.search-btn {
  background-color: #4E6892;
  cursor: pointer;
  width: 15%;
  color: white;
  border: none;
  height: 100%;
  padding: 0.5rem;
  border-radius: 0 10px 10px 0;
}
.search-btn:focus {
  opacity: 0.8;
  outline-color: #4E6892;
}

/* Needs media query */
.burger {
  display: none;
}
.burger div {
  width: 40px;
  height: 4px;
  background-color: #4E6892;
  border-radius: 1px;
  margin-bottom: 5px;
}
/* Needs media query */
.navbar-header-mobile {
  font-size: 24px;
  color: #4E6892;
  display: none;
}
/* End of Navbar */

/* Start of Main Body home */

/* Needs media query */
.main-home {
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 6rem;
}

.subtitle {
  font-size: 24px;
  font-weight: 100;
  color: #464646;
  margin-top: 0.5rem;
}

/* Needs Media Query */
.btn-group {
  margin-top: 1.5rem;
  width: 230px;
  display: flex;
  flex-direction: column;
}
.follow-btn {
  background-color: #4d92fa;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  height: 58px;
  margin-bottom: 1rem;
}
.download-btn {
  background-color: #325A98;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  height: 58px;
  margin-bottom: 1rem;
}
.learnmore-btn {
  background-color: #31353A;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  height: 58px;
  margin-bottom: 1rem;
}

/* Needs media query */
.img-content {
  width: 466px;
  height: 400px;
}
.img-content img {
  width: 100%;
  height: 100%;
}
.icon {
  font-size: 16px;
  margin-left: 0.2rem;
  margin-right: 0.2rem;
}

@media only screen and (max-width: 651px) {
  .navbar-content {
    display: none;
  }
  .navbar-content.responsive {
    position: absolute;
    padding-top: 1rem;
    bottom: 0px;
    background: rgba(255, 255, 255, 0.8);
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    width: 100%;
    height: 91vh;
  }
  .nav-links {
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    height: 80%;
  }
  .nav-link {
    margin: 0;
    font-size: 18px;
  }
  .burger {
    display: block;
    position: absolute;
    top: 16px;
  }

  .navbar-header-mobile {
    display: block;
    position: absolute;
    top: 14px;
    left: 90px;
  }

  .searchbar {
    width: 300px;
  }

  .main-home {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .subtitle {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
  }

  .text-content {
    text-align: center;
  }

  .btn-group {
    display: flex;
    flex-direction: column;
    margin: auto;
  }

  .img-content {
    width: 304px;
    height: 304px;
    margin-bottom: 1rem;
  }
}
