.pkmn-info-page-wrap {
    display: flex;
    /* grid-template-columns: repeat(auto-fit, 1fr);
    grid-template-rows: repeat(auto-fit, 1fr);
    grid-row-gap: 2rem; */
    flex-direction: column;
    align-items: center;
}
.pkmn-info-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    margin-top: 6rem;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    justify-content: center;
}
@media screen and (max-width: 1071px) and (min-width: 704px) {
    .pkmn-info-wrapper {
        grid-template-columns: repeat(2, 1fr);
    }
    .pkmn-type-defense {
        width: auto;
        grid-area: 2 / 2 / span 1 / span 2;
    }
}
.pokedex-pkmn-container {
    width: 300px;
    height: 380px;
    text-align: center;
}
.pokedex-pkmn-name {
    font-size: 24px;
}
.pokemondb-credit {
    font-size: 12px;
    color: #232323;
    margin-top: 0.25rem;
}

.pokedex-img {
    width: 300px;
    height: 310px;
    object-fit: contain;
}

.pkmn-info-card, .pkmn-type-defense {
    box-shadow: 0 10px 10px 6px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    width: 300px;
    height: 380px;
    display: flex;
    flex-direction: column;
}
.pkmn-info-card {
    padding: 1rem;
    justify-content: space-around;
}

.pkmn-info-id, .pkmn-info-type-wrap, .pkmn-info-abilities-wrap {
    display: flex;
    justify-content: space-between;
}

.pkmn-info-label, .pkmn-info-type-wrap p, .pkmn-info-abilities-wrap p {
    font-size: 18px;
    color: #2d2d2d;
    vertical-align: middle;
    width: 100px;
    text-align: end;
}
.pkmn-national-id {
    vertical-align: middle;
    width: 100px;
    font-weight: 600;
    font-size: 18px;
    text-align: start;
}
.pkmn-info-type, .pkmn-info-abilities {
    width: 100px;
}

.pkmn-info-type-block {
    text-align: center;
    vertical-align: middle;
    margin-bottom: 0.75rem;
    font-size: 18px;
    color: white;
    border-radius: 10px;
    line-height: 40px;
    height: 40px;
}

.pkmn-info-abilities div {
    margin-bottom: 0.75rem;
}
.pkmn-type-defense h4 {
    font-size: 24px;
    font-weight: 600;
    margin-top: 1.75rem;
    margin-left: 1rem;
}
.pkmn-type-defense p {
    font-size: 14px;
    color: #2d2d2d;
    margin-left: 1rem;
    margin-top: 0.5rem;
}
.pkmn-type-defense-block {
    display: grid;
    grid-template-columns: repeat(9, 2rem);
    grid-row-gap: 2rem;
    margin: auto;
}
.pkmn-type-effect div {
    width: 2rem;
    height: 2rem;
    text-align: center;
    vertical-align: middle;
    line-height: 2rem;
    border-radius: 5px;
    font-size: 14px;
}
.pkmn-base-stats {
    box-shadow: 0 10px 10px 6px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 3rem;
    padding-right: 3rem;
    margin-bottom: 2rem;
}
@media screen and (max-width: 403px) {
    .pkmn-base-stats {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
    .pkmn-base-stats h3 {
        margin-left: 3rem;
    }
}
.pkmn-base-stats h3 {
    font-size: 24px;
    margin-bottom: 1.25rem;
}
.pkmn-stat {
    display: flex;
    margin-bottom: 1.25rem;
}
.stat-name {
    color: #232323;
    width: 95px;
    text-align: end;
    margin-right: 1rem;
}
.stat-value {
    width: 30px;
    text-align: end;
}
.stat-bar {
    margin-left: 1rem;
}

/* Grid Method */
/* .pkmn-learnset {
    border-radius: 10px;
    box-shadow: 0 10px 10px 6px rgba(0, 0, 0, 0.25);
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    margin-bottom: 2rem;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-columns: repeat(auto-fit, 1fr);
    grid-row-gap: 2rem;
    grid-column-gap: 2rem;
}
.pkmn-learnset h3 {
    font-size: 1.5rem;
    margin-top: 1rem;
    grid-column: 1 / 7;
}
.pkmn-learnset p {
    font-size: 0.875rem;
    color: #2d2d2d;
    grid-column: 1 / 7;
}
.label-group, .pkmn-move-data {
    display: flex;
    justify-content: space-between;
    grid-column: 1 / 7;
}
.learnset-data-group {
    grid-column: 1 / 7;
}
.learnset-label, .pkmn-move-level, .pkmn-move-move {
    font-size: 1.5rem;
} */

/* Flex Method */
.pkmn-learnset {
    border-radius: 10px;
    box-shadow: 0 10px 10px 6px rgba(0, 0, 0, 0.25);
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    margin-bottom: 2rem;
}
.pkmn-learnset h3 {
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}
.pkmn-learnset p {
    font-size: 0.875rem;
    color: #2d2d2d;
    margin-bottom: 2rem;
}
.label-group, .pkmn-move-data {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}
.learnset-data-group {
    display: flex;
    flex-direction: column;
}
.learnset-label, .pkmn-move-level, .pkmn-move-move {
    font-size: 1.5rem;
}
.learnset-label, .pkmn-move-data div {
    margin-bottom: 1rem;
}
.pkmn-move-data a, .pkmn-move-data div {
    line-height: 2.5rem;
    vertical-align: middle;
}
.level-label, .pkmn-move-level {
    width: 2.5rem;
    text-align: end;
    margin-right: 1rem;
}
.pkmn-move-move, .move-label {
    width: 12.5rem;
    margin-right: 1rem;
}
.pkmn-move-type, .type-label {
    width: 6.25rem;
    margin-right: 1rem;
    text-align: center;
}
.pkmn-move-type {
    color: white;
    border-radius: 10px;
    height: 2.5rem;
}
.pkmn-move-cat, .cat-label {
    width: 4.375rem;
    margin-right: 1rem;
}
.pkmn-move-att, .att-label {
    width: 4.375rem;
    margin-right: 1rem;
}
.pkmn-move-acc, .acc-label {
    width: 4.375rem;
    margin-right: 1rem;
}
.pkmn-move-move {
    font-weight: 500;
}

@media screen and (max-width: 696px) {
    .pkmn-learnset {
        padding-left: 0.75rem;
        padding-right: 0.75rem;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        margin-bottom: 2rem;
    }
    .learnset-label, .pkmn-move-level, .pkmn-move-move {
        font-size: 1.5rem;
    }
    .learnset-label {
        margin-bottom: 1rem;
        font-size: 12px;
    }
    .pkmn-move-data div, .pkmn-move-data a {
        line-height: 1.5rem;
        vertical-align: middle;
        font-size: 10px;
    }
    .level-label, .pkmn-move-level {
        width: 1.5rem;
        text-align: end;
        margin-right: 1rem;
    }
    .pkmn-move-move, .move-label {
        width: 12.5rem;
        margin-right: 1rem;
    }
    .pkmn-move-type, .type-label {
        width: 6rem;
        margin-right: 1rem;
        text-align: center;
    }
    .pkmn-move-type {
        color: white;
        border-radius: 6px;
        height: 1.5rem;
        font-size: 8px;
    }
    .pkmn-move-cat, .cat-label {
        width: 4rem;
        font-size: 12px;
        margin-right: 1rem;
    }
    .pkmn-move-att, .att-label {
        width: 4.375rem;
        margin-right: 1rem;
    }
    .pkmn-move-acc, .acc-label {
        width: 4rem;
    }
    .pkmn-move-move {
        font-weight: 600;
    }
}

@media screen and (max-width: 420px) {
    .pkmn-learnset {
        padding-left: 0.25rem;
        padding-right: 0.25rem;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        margin-bottom: 2rem;
    }
    .learnset-label, .pkmn-move-level, .pkmn-move-move {
        font-size: 1.5rem;
    }
    .learnset-label {
        margin-bottom: 1rem;
        font-size: 10px;
    }
    .pkmn-move-data div, .pkmn-move-data a {
        line-height: 1.5rem;
        vertical-align: middle;
        font-size: 8px;
    }
    .level-label, .pkmn-move-level {
        width: 1.5rem;
        text-align: end;
        margin-right: 1rem;
    }
    .pkmn-move-move, .move-label {
        width: 12.5rem;
        margin-right: 1rem;
    }
    .pkmn-move-type, .type-label {
        width: 6rem;
        margin-right: 1rem;
        text-align: center;
    }
    .pkmn-move-type {
        color: white;
        border-radius: 6px;
        height: 1.5rem;
        font-size: 6px;
    }
    .pkmn-move-cat, .cat-label {
        width: 4rem;
        font-size: 12px;
        margin-right: 1rem;
    }
    .pkmn-move-att, .att-label {
        width: 4.375rem;
        margin-right: 1rem;
    }
    .pkmn-move-acc, .acc-label {
        width: 4rem;
        margin-right: 0;
    }
    .pkmn-move-move {
        font-weight: 600;
    }
}