.card {
    width: 320px;
    height: 480px;
    border-radius: 10px;
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 10px 10px 12px rgba(0, 0, 0, 0.25);
}
.card-img {
    width: 162px;
    height: 162px;
    margin-top: 0.75rem;
}
.card-title {
    font-weight: 600;
    margin-top: 0.75rem;
}
.card-description {
    margin-top: 0.75rem;
    width: 240px;
    color: #303030;
}

@media only screen and (max-width: 1058px) {
    .card {
        margin-bottom: 4rem;
    }
}